.section-top {
  margin-top: 20px;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and(max-width:950px) {
      flex-direction: column;
    }
  }
}

.search {
  &__label {
    display: inline-block;
    cursor: pointer;
    width: 600px;
    background-color: $color-white;
    border-radius: 20px;
    overflow: hidden;

    display: flex;
    align-items: center;

    @media only screen and(max-width:950px) {
     margin-bottom: 10px;
    }

    @media only screen and(max-width:600px) {
      width: 100%;
    }



    &::after {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url(../img/search.png);
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 10px;

      @media only screen and(min-resolution:192dpi)and(min-width:376px),
      (min-width:2000px) {
        background-image: url(../img/search@2x.png);
      }
    }

    &:hover {
      box-shadow: 0 0 20px $color-white;
    }
  }

  &__input {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    color: gold;
    text-shadow: -.5px 1px $color-secondary;
    letter-spacing: 1px;
    outline: none;
    background-color: transparent;
    border: none;

    &::placeholder {
      font-size: 20px;
      color: gold;
      opacity: .4;
      text-shadow: -1.5px 2px $color-secondary;
    }

    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      appearance: none;
      display: none;
    }
  }
}