*,
* ::after,
* ::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section-top {
  margin-top: 20px;
}
.section-top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search__label {
  display: inline-block;
  cursor: pointer;
  width: 600px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  .search__label {
    width: 100%;
  }
}
.search__label::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/search.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 376px), only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
  .search__label::after {
    background-image: url(../img/search@2x.png);
  }
}
.search__label:hover {
  box-shadow: 0 0 20px #fff;
}
.search__input {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  font-size: 20px;
  color: gold;
  text-shadow: -0.5px 1px red;
  letter-spacing: 1px;
  outline: none;
  background-color: transparent;
  border: none;
}
.search__input::-moz-placeholder {
  font-size: 20px;
  color: gold;
  opacity: 0.4;
  text-shadow: -1.5px 2px red;
}
.search__input:-ms-input-placeholder {
  font-size: 20px;
  color: gold;
  opacity: 0.4;
  text-shadow: -1.5px 2px red;
}
.search__input::placeholder {
  font-size: 20px;
  color: gold;
  opacity: 0.4;
  text-shadow: -1.5px 2px red;
}
.search__input::-webkit-search-cancel-button, .search__input::-webkit-search-decoration {
  -webkit-appearance: none;
          appearance: none;
  display: none;
}

.form {
  display: inline-block;
}

.select {
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  color: gold;
  text-shadow: -1px 1px red;
  letter-spacing: 2px;
}
.select:hover {
  box-shadow: 0 0 20px #fff;
}

.option {
  background-color: gold;
  color: red;
  text-shadow: -1px 1px #000;
}

.btn--form {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: none;
  font-style: italic;
  font-size: 20px;
  color: red;
  text-shadow: -1.5px 1px #fff;
  border: 2px solid gold;
  border-radius: 8px;
  background-color: gold;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}
.btn--form::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: gold;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.btn--form:hover {
  background-color: transparent;
  color: gold;
  text-shadow: -1.5px 1px red;
}
.btn--form:hover::after {
  -webkit-animation: btn 0.7s infinite;
          animation: btn 0.7s infinite;
}
.btn--form:active {
  background-color: #11fa09;
  border: 2px solid #11fa09;
}

@-webkit-keyframes btn {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes btn {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
.films {
  background-color: black;
  border: 1px solid transparent;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-top: 20px;
}
@media only screen and (max-width: 760px) {
  .cards {
    justify-content: center;
  }
}

.card {
  width: 260px;
  margin-bottom: 20px;
  padding: 324px 10px 100px 10px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px #fff;
  position: relative;
}
@media only screen and (max-width: 600px) {
  .card {
    width: 340px;
    margin-bottom: 20px;
    padding: 420px 10px 100px 10px;
  }
}
.card:hover {
  cursor: pointer;
  box-shadow: 0 0 20px red;
}
.card:hover .card__img {
  transform: rotateY(360deg) scale(1.1);
  transition: all 1s cubic-bezier(0, 1.2, 0.02, 1.95);
}
.card__img {
  width: 240px;
  height: 300px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}
@media only screen and (max-width: 600px) {
  .card__img {
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
  }
}
.card__date {
  font-weight: 700;
  font-size: 10px;
  color: red;
  opacity: 0.7;
  text-align: start;
}
.card__title {
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  margin: 10px auto;
  color: gold;
  text-shadow: -1px 1px red;
}
.card__text {
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
  color: gold;
  text-shadow: -0.5px 0.5px black;
  display: none;
}
.card__text-click {
  display: block;
}
.card__box-btn {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.card__btn {
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: red;
  text-shadow: -1.5px 1px #fff;
  width: 100%;
  border: 2px solid gold;
  border-radius: 50px;
  background-color: gold;
  padding: 10px;
  margin-bottom: 5px;
  margin-top: auto;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}
.card__btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: gold;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.card__btn:hover {
  background-color: transparent;
  color: gold;
  text-shadow: -1.5px 1px red;
}
.card__btn:hover::after {
  -webkit-animation: btn 0.7s infinite;
          animation: btn 0.7s infinite;
}
.card__btn:active {
  background-color: #11fa09;
  border: 2px solid #11fa09;
}
.card__btn-text {
  width: 0;
  height: 0;
  cursor: pointer;
  border-bottom: none;
  border-top: 10px solid gold;
  border-left: 10px solid #f2f2f2;
  border-right: 10px solid #f2f2f2;
  transition: all 0.4s;
}
.card__btn-text:hover {
  border-top: 10px solid #11fa09;
}
.card__btn-text-click {
  transform: rotateX(180deg);
  border-top: 10px solid red;
}
.card__likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__likes-like {
  display: inline-block;
  width: 49%;
  height: 36px;
  background-color: inherit;
  border: 1px solid gold;
  cursor: pointer;
  background-image: url(../img/like.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  position: relative;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 376px), only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
  .card__likes-like {
    background-image: url(../img/like@2x.png);
  }
}
.card__likes-like::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #11fa09;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.card__likes-like:hover {
  opacity: 0.7;
}
.card__likes-like:hover::after {
  -webkit-animation: btn 0.7s infinite;
          animation: btn 0.7s infinite;
}
.card__likes-like:active {
  background-color: #11fa09;
  transition: all 0.2s;
  opacity: 1;
}
.card__likes-like:nth-of-type(2) {
  background-image: url(../img/not-like.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 376px), only screen and (min-resolution: 192dpi) and (min-width: 376px), (min-width: 2000px) {
  .card__likes-like:nth-of-type(2) {
    background-image: url(../img/not-like@2x.png);
  }
}
.card__likes-like:nth-of-type(2)::after {
  background-color: red;
}
.card__likes-like:nth-of-type(2):active {
  background-color: red;
}/*# sourceMappingURL=main.css.map */